@font-face {
  font-family: OpenSans;
  src: url("../src/fonts/OpenSans-Regular.woff2") format("woff2"), url("../src/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url("../src/fonts/OpenSans-Bold.woff2") format("woff2"), url("../src/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a, button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
  background-color: inherit;
}

.page {
  font-family: OpenSans;
}

.logo {
  position: relative;
  z-index: 5;
}
.logo__svg {
  width: 149px;
  height: 88px;
}
.logo_tablet {
  display: none;
}
.logo_mob {
  display: none;
}
.logo_footer .logo__svg {
  width: 102px;
  height: 34px;
}
.logo:hover {
  fill: rgba(0, 0, 0, 0.6);
}
.logo:focus {
  fill: rgba(0, 0, 0, 0.3);
}
.logo_footer:hover {
  fill: #46c1ae;
}
.logo_footer:focus {
  fill: rgba(70, 193, 174, 0.3);
}

@media screen and (max-width: 1050px) {
  .logo_desc {
    display: none;
  }
  .logo_tablet {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  .logo_tablet {
    display: none;
  }
  .logo_mob {
    display: block;
    width: 86px;
    height: 35px;
  }
  .logo_footer {
    display: none;
  }
}
.title {
  font-size: 53px;
  line-height: 50px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 43px;
  }
}
@media screen and (max-width: 557px) {
  .title {
    font-size: 25px;
    line-height: 30px;
  }
  .title_larger {
    font-size: 37px;
    line-height: 37px;
  }
}
@media screen and (max-width: 410px) {
  .title {
    font-size: 27px;
    line-height: 30px;
  }
}
.text, .desc-text {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  max-width: 771px;
}

.desc-text {
  font-size: 15px;
}

.button {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  background-color: transparent;
  padding: 20px 41px;
  border: 2px solid #444444;
  line-height: 12px;
  cursor: pointer;
}
.button_w100 {
  width: 100%;
}
.button:hover {
  color: rgb(255, 255, 255);
  background-color: #444444;
}
.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}

@media screen and (max-width: 700px) {
  .button {
    padding: 20px;
  }
}
.price {
  font-size: 20px;
  font-weight: 700;
  color: #444444;
}

.curv {
  background: repeat-x url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1150 23' fill='%23ededee'%3E%3Cpath d='M1150,23C1140.98,23 1136.27,18.41 1132.48,14.72C1129.07,11.4 1126.6,9 1121.25,9C1115.89,9 1113.42,11.4 1110.01,14.72C1106.22,18.41 1101.52,23 1092.5,23C1083.48,23 1078.77,18.41 1074.98,14.72C1071.57,11.4 1069.11,9 1063.75,9C1058.39,9 1055.93,11.4 1052.52,14.72C1048.73,18.41 1044.02,23 1035,23C1025.98,23 1021.27,18.41 1017.49,14.72C1014.08,11.4 1011.61,9 1006.25,9C1000.89,9 998.43,11.4 995.02,14.72C991.23,18.41 986.52,23 977.5,23C968.49,23 963.78,18.41 959.99,14.72C956.58,11.4 954.11,9 948.76,9C943.4,9 940.93,11.4 937.52,14.72C933.73,18.41 929.02,23 920.01,23C910.99,23 906.28,18.41 902.49,14.72C899.08,11.4 896.61,9 891.26,9C885.9,9 883.44,11.4 880.02,14.72C876.24,18.41 871.53,23 862.51,23C853.49,23 848.78,18.41 844.99,14.72C841.58,11.4 839.12,9 833.76,9C828.4,9 825.94,11.39 822.53,14.72C818.74,18.41 814.03,23 805.02,23C796,23 791.29,18.41 787.5,14.72C784.09,11.4 781.62,9 776.27,9C770.91,9 768.44,11.4 765.03,14.72C761.25,18.41 756.54,23 747.52,23C738.51,23 733.79,18.41 730.01,14.72C726.6,11.4 724.13,9 718.77,9C713.42,9 710.95,11.4 707.54,14.72C703.76,18.41 699.04,23 690.03,23C681.01,23 676.3,18.41 672.52,14.72C669.1,11.4 666.64,9 661.28,9C655.92,9 653.46,11.4 650.05,14.72C646.26,18.41 641.55,23 632.53,23C623.52,23 618.81,18.41 615.02,14.72C611.61,11.4 609.14,9 603.78,9C598.43,9 595.96,11.4 592.55,14.72C588.76,18.41 584.05,23 575.03,23C566.02,23 561.31,18.41 557.52,14.72C554.11,11.4 551.65,9 546.29,9C540.93,9 538.46,11.4 535.05,14.72C531.27,18.41 526.56,23 517.54,23C508.52,23 503.81,18.41 500.03,14.72C496.61,11.4 494.15,9 488.79,9C483.43,9 480.97,11.4 477.56,14.72C473.77,18.41 469.06,23 460.04,23C451.02,23 446.31,18.41 442.53,14.72C439.11,11.4 436.65,9 431.29,9C425.93,9 423.46,11.4 420.05,14.72C416.27,18.41 411.55,23 402.54,23C393.52,23 388.81,18.41 385.02,14.72C381.61,11.4 379.15,9 373.79,9C368.43,9 365.96,11.4 362.55,14.72C358.77,18.41 354.05,23 345.04,23C336.02,23 331.31,18.41 327.52,14.72C324.11,11.4 321.64,9 316.29,9C310.93,9 308.46,11.4 305.05,14.72C301.26,18.41 296.55,23 287.53,23C278.52,23 273.8,18.41 270.02,14.72C266.61,11.4 264.14,9 258.78,9C253.42,9 250.96,11.4 247.55,14.72C243.76,18.41 239.05,23 230.03,23C221.02,23 216.31,18.41 212.52,14.72C209.11,11.4 206.64,9 201.28,9C195.93,9 193.46,11.4 190.05,14.72C186.26,18.41 181.55,23 172.53,23C163.52,23 158.8,18.41 155.02,14.72C151.6,11.4 149.14,9 143.78,9C138.42,9 135.95,11.4 132.54,14.72C128.76,18.41 124.04,23 115.02,23C106.01,23 101.29,18.41 97.51,14.72C94.09,11.4 91.63,9 86.27,9C80.91,9 78.44,11.4 75.03,14.72C71.24,18.41 66.53,23 57.51,23C48.5,23 43.78,18.41 40,14.72C36.58,11.4 34.11,9 28.75,9C23.39,9 20.93,11.4 17.51,14.72C13.73,18.41 9.01,23 0,23L0,14C5.36,14 7.82,11.59 11.24,8.27C15.02,4.58 19.74,0 28.75,0C37.77,0 42.49,4.58 46.27,8.27C49.69,11.59 52.15,14 57.51,14C62.87,14 65.34,11.59 68.75,8.27C72.54,4.58 77.25,0 86.27,0C95.29,0 100,4.58 103.79,8.27C107.2,11.59 109.66,14 115.02,14C120.38,14 122.85,11.59 126.26,8.27C130.05,4.58 134.76,0 143.78,0C152.8,0 157.51,4.58 161.3,8.27C164.71,11.59 167.17,14 172.53,14C177.89,14 180.36,11.59 183.77,8.27C187.55,4.58 192.27,0 201.28,0C210.3,0 215.01,4.58 218.8,8.27C222.21,11.59 224.68,14 230.03,14C235.39,14 237.86,11.59 241.27,8.27C245.05,4.58 249.77,0 258.78,0C267.8,0 272.51,4.58 276.3,8.27C279.71,11.59 282.17,14 287.53,14C292.89,14 295.36,11.59 298.77,8.27C302.56,4.58 307.27,0 316.29,0C325.3,0 330.02,4.58 333.8,8.27C337.21,11.59 339.68,14 345.04,14C350.4,14 352.86,11.59 356.27,8.27C360.06,4.58 364.77,0 373.79,0C382.8,0 387.52,4.58 391.3,8.27C394.71,11.59 397.18,14 402.54,14C407.9,14 410.36,11.59 413.77,8.27C417.56,4.58 422.27,0 431.29,0C440.31,0 445.02,4.58 448.8,8.27C452.22,11.59 454.68,14 460.04,14C465.4,14 467.86,11.59 471.28,8.27C475.06,4.58 479.77,0 488.79,0C497.81,0 502.52,4.58 506.3,8.27C509.72,11.59 512.18,14 517.54,14C522.9,14 525.36,11.59 528.77,8.27C532.56,4.58 537.27,0 546.29,0C555.3,0 560.02,4.58 563.8,8.27C567.21,11.59 569.68,14 575.03,14C580.39,14 582.86,11.59 586.27,8.27C590.06,4.58 594.77,0 603.78,0C612.8,0 617.51,4.58 621.3,8.27C624.71,11.59 627.18,14 632.53,14C637.89,14 640.36,11.59 643.77,8.27C647.55,4.58 652.27,0 661.28,0C670.3,0 675.01,4.58 678.79,8.27C682.21,11.6 684.67,14 690.03,14C695.39,14 697.85,11.59 701.26,8.27C705.05,4.58 709.76,0 718.77,0C727.79,0 732.5,4.58 736.29,8.27C739.7,11.59 742.16,14 747.52,14C752.88,14 755.34,11.59 758.75,8.27C762.54,4.58 767.25,0 776.27,0C785.28,0 789.99,4.58 793.78,8.27C797.19,11.59 799.66,14 805.02,14C810.37,14 812.84,11.59 816.25,8.27C820.03,4.58 824.74,0 833.76,0C842.78,0 847.49,4.58 851.27,8.27C854.69,11.59 857.15,14 862.51,14C867.87,14 870.33,11.59 873.74,8.27C877.53,4.58 882.24,0 891.26,0C900.27,0 904.98,4.58 908.77,8.27C912.18,11.59 914.65,14 920.01,14C925.36,14 927.83,11.59 931.24,8.27C935.03,4.58 939.74,0 948.76,0C957.77,0 962.48,4.58 966.27,8.27C969.68,11.59 972.15,14 977.5,14C982.86,14 985.33,11.59 988.74,8.27C992.52,4.58 997.23,0 1006.25,0C1015.27,0 1019.98,4.58 1023.77,8.27C1027.18,11.59 1029.64,14 1035,14C1040.36,14 1042.82,11.59 1046.24,8.27C1050.02,4.58 1054.73,0 1063.75,0C1072.77,0 1077.48,4.58 1081.26,8.27C1084.68,11.59 1087.14,14 1092.5,14C1097.85,14 1100.32,11.59 1103.73,8.27C1107.52,4.58 1112.23,0 1121.25,0C1130.26,0 1134.97,4.58 1138.76,8.27C1142.17,11.59 1144.64,14 1150,14Z'/%3E%3C/svg%3E") center/cover;
  width: 100%;
  height: 23px;
}

.e-mail:hover {
  color: #46c1ae;
  border-bottom: #46c1ae solid 1px;
}
.e-mail:focus {
  opacity: 0.3;
  color: #46c1ae;
  border-bottom: #46c1ae solid 1px;
}

.naming {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  .naming {
    font-size: 17px;
  }
}
.p-header {
  font-size: 17px;
  font-weight: 700;
}
.p-header__wrapper {
  height: 88px;
  max-width: 1150px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}
.p-header__shipment {
  position: absolute;
  bottom: -45px;
  right: 50px;
  font-size: 15px;
  font-weight: 400;
}
.p-header__nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.nav__wrapper {
  position: relative;
  padding: 0 15px;
}
.nav__sub {
  position: absolute;
  top: 112px;
  left: 15px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item:not(:first-of-type) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.menu__link {
  display: block;
  padding: 32px 35px;
  white-space: nowrap;
  cursor: pointer;
}
.menu__link > svg {
  fill: rgba(35, 31, 32, 0.2);
}
.menu__link_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.menu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.menu__link:focus {
  color: rgba(0, 0, 0, 0.3);
}
.menu__link:hover > svg {
  fill: #63d1bb;
}
.menu__link:focus > svg {
  fill: rgba(99, 209, 187, 0.3);
}
.menu__label {
  line-height: 0;
}
.menu__input {
  display: none;
}
.menu__placeholder {
  width: 100%;
}
.menu__icon {
  width: 21px;
  height: 21px;
}
.sub-menu {
  font-size: 15px;
}
.sub-menu__item {
  padding: 25px 30px;
}
.sub-menu__item_tablet {
  display: none;
}
.sub-menu__item:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sub-menu__item:focus {
  color: rgba(0, 0, 0, 0.3);
}

.burger {
  display: none;
  position: relative;
}
.burger__button {
  display: block;
  width: 20px;
  height: 14px;
  position: absolute;
  top: 32px;
  right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.burger__button::before, .burger__button::after {
  content: "";
}
.burger__line, .burger__button::before, .burger__button::after {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
}
.burger__toggler {
  position: absolute;
  top: 32px;
  right: 17px;
  visibility: hidden;
}

@media (max-width: 1150px) and (min-width: 1050px) {
  .menu__link {
    padding: 32px calc(21px + 14 * (100vw - 768px) / 382);
  }
}
@media screen and (max-width: 1050px) {
  .sub-menu__item {
    padding: 25px 18px;
  }
  .sub-menu__item_tablet {
    display: inline;
  }
  .sub-menu__item_desc {
    display: none;
  }
  .menu__item:nth-of-type(1), .menu__item:nth-of-type(2) {
    display: none;
  }
  .p-header__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 50px;
  }
  .p-header__shipment {
    right: 50px;
  }
  .nav__sub {
    left: 32px;
  }
}
@media screen and (max-width: 760px) {
  .p-header__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 79px;
    padding: 0 31px;
  }
  .menu, .sub-menu, .p-header__shipment {
    display: none;
  }
  .burger {
    display: block;
  }
}
.promo {
  background-color: #F9F9F9;
  position: relative;
}
.promo_index {
  background: no-repeat #F9F9F9 url("../src/promo_bg.jpg") center/1150px 746px;
}
.promo__wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 105px 0 115px;
}
.promo__wrapper_index {
  padding: 161px 0 0;
}
.promo__title {
  text-align: center;
}
.promo__categories {
  margin-top: 371px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__divider {
  position: absolute;
  bottom: -12px;
  width: 100%;
  height: 34px;
  background: repeat-x url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1150 34' fill='%23ffffff'%3E%3Cpath d='M1121.25,0C1106.87,0 1106.87,14 1092.5,14C1078.12,14 1078.12,0 1063.75,0C1049.38,0 1049.38,14 1035,14C1020.63,14 1020.63,0 1006.25,0C991.88,0 991.88,14 977.5,14C963.13,14 963.13,0 948.76,0C934.38,0 934.38,14 920.01,14C905.63,14 905.63,0 891.26,0C876.88,0 876.88,14 862.51,14C848.13,14 848.13,0 833.76,0C819.39,0 819.39,14 805.02,14C790.64,14 790.64,0 776.27,0C761.89,0 761.89,14 747.52,14C733.15,14 733.15,0 718.77,0C704.4,0 704.4,14 690.03,14C675.65,14 675.65,0 661.28,0C646.91,0 646.91,14 632.53,14C618.16,14 618.16,0 603.78,0C589.41,0 589.41,14 575.03,14C560.66,14 560.66,0 546.29,0C531.91,0 531.91,14 517.54,14C503.16,14 503.16,0 488.79,0C474.42,0 474.42,14 460.04,14C445.66,14 445.66,0 431.29,0C416.91,0 416.91,14 402.54,14C388.16,14 388.16,0 373.79,0C359.41,0 359.41,14 345.04,14C330.66,14 330.66,0 316.29,0C301.91,0 301.91,14 287.53,14C273.16,14 273.16,0 258.78,0C244.41,0 244.41,14 230.03,14C215.66,14 215.66,0 201.28,0C186.91,0 186.91,14 172.53,14C158.16,14 158.16,0 143.78,0C129.4,0 129.4,14 115.02,14C100.65,14 100.65,0 86.27,0C71.89,0 71.89,14 57.51,14C43.13,14 43.13,0 28.75,0C14.38,0 14.38,14 0,14L0,34L1150,34L1150,14C1135.62,14 1135.62,0 1121.25,0'/%3E%3C/svg%3E");
}

.categorie {
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 35px 40px 35px;
  font-size: 20px;
  font-weight: 700;
}
.categorie:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.categorie:focus {
  color: rgba(255, 255, 255, 0.3);
}
.categorie_left {
  background-color: #63d1bb;
}
.categorie_left:hover, .categorie_left:focus {
  background-color: #59d5bc;
}
.categorie_right {
  background-color: #56c3b2;
}
.categorie_right:hover, .categorie_right:focus {
  background-color: #46c1ae;
}
.categorie__svg {
  width: 62px;
  height: 62px;
}
@media (max-width: 1250px) {
  .promo__wrapper {
    margin: 0 50px;
  }
}
@media screen and (max-width: 600px) {
  .promo_index {
    background: no-repeat #F9F9F9 url("../src/promo-bg_mob.jpg") top/320px 373px;
  }
  .promo__wrapper {
    padding: 74px 0 74px;
  }
  .promo__wrapper_index {
    padding: 76px 0 0;
  }
  .promo__categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo__divider {
    display: none;
  }
  .promo__wrapper {
    margin: 0;
  }
  .promo__title {
    padding: 0 38px;
  }
  .promo__title_index {
    margin-bottom: 120px;
  }
  .categorie {
    width: 100%;
    padding: 30px;
  }
}
.weekly {
  background-color: white;
}
.weekly__wrapper {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  padding: 54px 0 96px;
}
.weekly__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 117px;
  left: 100px;
}
.weekly__marker {
  margin: 0 58px 0 0;
  text-align: center;
  width: 70px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.weekly__divider {
  position: absolute;
  bottom: 0;
  left: 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #444444;
  font-weight: 400;
  gap: 24px;
}
.product__pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 525px;
          flex: 0 1 525px;
  font-size: 0;
}
.product__pic_add {
  display: none;
}
.product__block {
  margin: 163px 0 0 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 282px;
          flex: 0 0 282px;
}
.product__tech {
  margin: 49px 0 90px;
}
.product__tech td {
  padding: 10px 30px 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
}
.product__price {
  margin-bottom: 29px;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .product__block {
    margin: 163px 0 0 calc(100px + 130 * (100vw - 1000px) / 250);
  }
}
@media screen and (max-width: 1000px) {
  .weekly__header {
    left: calc(100px + 130 * (100vw - 1000px) / 250);
  }
}
@media screen and (max-width: 895px) {
  .weekly__container {
    padding: 55px 0 0;
  }
  .weekly__header {
    position: static;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 max(50px, 50px + 50 * (100vw - 768px) / 127);
  }
  .weekly__marker {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0;
  }
  .product {
    padding-right: max(50px, 50px + 50 * (100vw - 768px) / 127);
  }
  .product__block {
    margin: 0 0 0 max(50px, 50px + 50 * (100vw - 768px) / 127);
  }
  .product__pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 333px;
            flex: 0 0 333px;
  }
  .product__tech {
    margin: 29px 0 42px;
  }
}
@media screen and (max-width: 740px) {
  .weekly__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .weekly__marker {
    width: 100%;
    text-align: left;
  }
  .weekly__container {
    padding: 0 30px;
  }
  .weekly__header {
    padding: 0 30px;
  }
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__pic {
    max-width: 333px;
  }
  .product__pic_main {
    display: none;
  }
  .product__pic_add {
    display: block;
  }
  .product__price {
    margin-top: 29px;
  }
  .product__block {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__desc {
    margin-top: 30px;
  }
}
.about__wrapper {
  max-width: 700px;
  padding: 70px 0 89px;
  margin: 0 auto;
}
.about__inner {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px 10px;
}
.about__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 294px;
          flex: 0 0 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.card__pic {
  max-width: 55px;
  max-height: 38px;
}
.card__pic > use {
  fill: #63d1bb;
}
.card__title {
  max-width: 294px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 816px) {
  .about__wrapper {
    max-width: 816px;
    padding: 70px calc(29px + 29 * (100vw - 650px) / 166) 89px;
  }
}
@media screen and (max-width: 650px) {
  .about__wrapper {
    padding: 70px 29px 89px;
  }
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.reviews {
  background-color: white;
}
.reviews__wrapper {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  background: no-repeat url("../src/rev_bg.jpg") 0 0/350px 457px;
  padding: 0 0 90px 0;
}
.reviews__content {
  padding: 73px 0 100px;
  margin-left: 20%;
  padding-right: 50px;
}
.reviews__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__text {
  margin: 54px 0 29px;
}
.reviews__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__contact {
  font-size: 17px;
}
.reviews__name {
  font-weight: 700;
  margin-bottom: 5px;
}
.reviews__link {
  font-weight: 400;
  color: #444444;
}
.reviews__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
  padding-right: 19px;
}
.reviews__divider {
  position: absolute;
  bottom: 0;
  max-width: 1150px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49px;
  height: 5px;
  background-color: white;
  position: relative;
}
.arrow::before {
  content: "";
  position: absolute;
  border-bottom: 5px solid #000000;
  width: 49px;
  top: 0;
}
.arrow:hover::before {
  border-bottom: 5px solid rgba(0, 0, 0, 0.6);
}
.arrow:focus::before {
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}
.arrow::after {
  position: absolute;
  top: -9px;
  content: "";
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 9px;
}
.arrow:hover::after {
  border-color: rgba(0, 0, 0, 0.6);
}
.arrow:focus::after {
  border-color: rgba(0, 0, 0, 0.3);
}
.arrow_left::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  left: 0;
}
.arrow_right::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 0;
}

.reviews__btn_mob {
  display: none;
}

@media screen and (max-width: 1150px) {
  .reviews__content {
    margin-left: max(29px + 21 * (100vw - 320px) / 448, 50px + 180 * (100vw - 768px) / 382);
  }
}
@media screen and (max-width: 600px) {
  .reviews__wrapper {
    background: none;
  }
  .reviews__content {
    padding-right: calc(29px + 21 * (100vw - 320px) / 448);
  }
  .reviews__text {
    margin: 40px 0 40px;
  }
  .reviews__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 36px;
    margin: 0 auto;
  }
  .reviews__arrows {
    padding-right: 0;
    gap: 0;
    width: 100%;
  }
  .arrow {
    padding: 25px 25%;
    border: 1px solid #ececec;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .arrow::before {
    top: 25px;
  }
  .arrow::after {
    top: 16px;
  }
  .arrow_left::after {
    left: calc(50% - 24px);
  }
  .arrow_right::after {
    right: calc(50% - 24px);
  }
  .reviews__btn_desc {
    display: none;
  }
  .reviews__btn_mob {
    display: block;
    width: 100%;
  }
}
.contacts {
  padding: 71px 0 105px;
}
.contacts__wrapper {
  max-width: 1150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
.contacts__container {
  margin-left: 20%;
  padding: 81px 0 0;
  position: relative;
}
.contacts__flag {
  position: absolute;
  width: 47px;
  height: 81px;
  top: 68px;
  left: -92px;
}
.contacts__flag > use {
  fill: #63d1bb;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 54px 0 74px;
  gap: 21px;
}
.contacts__map {
  font-size: 0;
}
.contacts__map > iframe {
  width: 525px;
  height: 457px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 26px;
}
.contact__text {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}
.contact__text_brd-btm {
  border-bottom: solid 1px #444444;
}

.button__cnt-mob {
  display: none;
}

@media screen and (max-width: 1050px) {
  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 55px;
  }
  .contacts__container {
    margin-left: 0;
    padding: 0 51px;
  }
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 54px 0 5px;
  }
  .contacts__flag {
    top: -19px;
    left: calc(100vw - 100px);
  }
  .contacts__map {
    width: 100%;
  }
  .contacts__map > iframe {
    width: 100%;
  }
  .button__cnt-mob {
    display: block;
    margin: 0 auto;
  }
  .button__cnt-desc {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .contacts__wrapper {
    gap: 39px;
  }
  .contacts__container {
    padding: 0 calc(29px + 21 * (100vw - 320px) / 448);
  }
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__flag {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .contact__text {
    font-size: 15px;
  }
}
.products__wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 111px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ececec;
  max-width: 316px;
  cursor: pointer;
}
.product-card__pic {
  width: 316px;
  height: 462px;
}
.product-card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 29px;
  width: 100%;
  height: 200px;
}
.product-card:hover .product-card__title {
  color: rgba(0, 0, 0, 0.6);
}
.product-card:focus .product-card__title {
  color: rgba(0, 0, 0, 0.3);
}
.product-card__to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 23px 0 0;
  border-top: 1px solid #ececec;
}
.product-card__price {
  font-size: 17px;
  font-weight: 700;
}
.product-card__cart {
  width: 21px;
  height: 18px;
  fill: rgba(0, 0, 0, 0.2);
}
.product-card:hover .product-card__cart {
  fill: #63d1bb;
}
.product-card:focus .product-card__cart {
  fill: rgba(99, 209, 187, 0.3);
}
.product-card:hover {
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.product-card:focus {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 999px) {
  .products__wrapper {
    padding: 67px 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 54px;
  }
  .product-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 668px;
  }
  .product-card__pic {
    width: 334px;
    height: 334px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .product-card__desc {
    width: 334px;
    height: 334px;
  }
}
@media screen and (max-width: 699px) {
  .products__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    gap: 30px;
    padding: 67px 30px 50px;
  }
  .product-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 668px;
  }
  .product-card__pic {
    width: 260px;
    height: 196px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .product-card__desc {
    width: 260px;
    height: 180px;
  }
  .product-card__text {
    font-size: 13px;
  }
  .product-card__price {
    font-size: 15px;
  }
}
.video__wrapper {
  max-width: 1050px;
  margin: 5px auto 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__wrapper:hover {
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.video__wrapper:focus {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.video__playbtn {
  width: 101px;
  height: 78px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #63d1bb;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.video__playbtn:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}
.video__playbtn:focus {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
      -ms-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.3;
}
.video__pic {
  font-size: 0;
  position: relative;
}
.video__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.video__title_mob {
  display: none;
}
.video__desc {
  border: 1px solid #ececec;
  max-width: 368px;
  height: 455px;
  padding: 47px 57px 60px 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.video__cam {
  fill: #63d1bb;
  width: 32px;
  height: 22px;
  margin: 0 0 25px;
}
@media screen and (max-width: 1122px) {
  .video__wrapper {
    margin: 5px calc(17px + 19 * (100vw - 1000px) / 122) 105px;
  }
  .video__desc {
    padding: 47px calc(23px + 34 * (100vw - 1000px) / 122) 60px calc(30px + 48 * (100vw - 1000px) / 122);
  }
}
@media screen and (max-width: 999px) {
  .video__wrapper {
    margin: 5px auto 58px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 668px;
  }
  .video__desc {
    max-width: 668px;
    padding: 42px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 288px;
  }
  .video__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
  }
  .video__cam {
    margin: 0 33px 0 0;
  }
  .video__pic > img {
    width: 100%;
  }
}
@media screen and (max-width: 702px) {
  .video__wrapper {
    margin: 5px 17px 58px;
  }
}
@media screen and (max-width: 439px) {
  .video__wrapper {
    max-width: 260px;
    margin: 5px auto 58px;
  }
  .video__desc {
    max-width: 260px;
    padding: 34px;
    height: auto;
  }
  .video__text {
    margin: 0 0 30px;
  }
  .video__cam {
    margin: 0 25px 0 0;
  }
  .video__title {
    max-width: 260px;
    padding: 26px;
    border: 1px solid #ececec;
  }
  .video__title_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__title_desctp {
    display: none;
  }
}
.request {
  padding: 112px 0 50px;
}

.form__wrapper {
  max-width: 975px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 8.2fr 1fr;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
  padding: 0 25px;
}
.form__description {
  margin-bottom: 12px;
}
.form__section {
  padding: 50px 0;
}
.form__section_gray {
  background-color: #f1f1f1;
}
.form__section_gray:nth-last-of-type(-n+3):nth-last-of-type(odd) {
  padding-bottom: 12px;
}
.form__section_gray:nth-last-of-type(-n+3):nth-last-of-type(even) {
  padding-top: 12px;
}
.form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 19px 0 0;
}
.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.form__container_wide {
  grid-column: 2/-1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.form__container_wide > .form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 204px;
          flex: 1 0 204px;
}
.form__container_col2 {
  grid-column: 2/span 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
  position: relative;
}
.form__item_tel::after, .form__item_email::after {
  content: "";
  display: block;
  width: 32px;
  height: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 17px;
}
.form__item_email::after {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='21' viewBox='0 0 32 21' fill='rgba(0, 0, 0, 0.3)'%3E%3Cpath d='M17.19,13.6C16.84,13.86 16.43,14 16,14C15.56,14 15.14,13.86 14.8,13.6L10.66,10.49L9.83,9.87L2,4L2,3.99C2,2.89 2.89,1.99 4,1.99L28,1.99C29.1,1.99 30,2.89 30,3.99ZM30,15.74L23,10.49L30,5.24ZM30,16.99C30,18.1 29.1,18.99 28,18.99L4,18.99C2.89,18.99 2,18.1 2,16.99L9.83,11.12L14.2,14.4C14.73,14.79 15.36,15 16,15C16.63,15 17.26,14.8 17.79,14.4L22.16,11.12ZM2,5.24L8.99,10.49L2,15.74ZM28,0L4,0C1.79,0 0,1.79 0,3.99L0,16.99C0,19.2 1.79,20.99 4,20.99L28,20.99C30.2,20.99 32,19.2 32,16.99L32,3.99C32,1.79 30.2,0 28,0'/%3E%3C/svg%3E");
}
.form__item_email:hover::after {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='21' viewBox='0 0 32 21' fill='%2362d1ba'%3E%3Cpath d='M17.19,13.6C16.84,13.86 16.43,14 16,14C15.56,14 15.14,13.86 14.8,13.6L10.66,10.49L9.83,9.87L2,4L2,3.99C2,2.89 2.89,1.99 4,1.99L28,1.99C29.1,1.99 30,2.89 30,3.99ZM30,15.74L23,10.49L30,5.24ZM30,16.99C30,18.1 29.1,18.99 28,18.99L4,18.99C2.89,18.99 2,18.1 2,16.99L9.83,11.12L14.2,14.4C14.73,14.79 15.36,15 16,15C16.63,15 17.26,14.8 17.79,14.4L22.16,11.12ZM2,5.24L8.99,10.49L2,15.74ZM28,0L4,0C1.79,0 0,1.79 0,3.99L0,16.99C0,19.2 1.79,20.99 4,20.99L28,20.99C30.2,20.99 32,19.2 32,16.99L32,3.99C32,1.79 30.2,0 28,0'/%3E%3C/svg%3E");
}
.form__item_tel::after {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.82' height='24.33' viewBox='0 0 24.82 24.33' fill='rgba(0, 0, 0, 0.3)'%3E%3Cpath d='M17.32,24.33L16.2,24.33C11.3,23.75 7.7,21.47 5.09,18.56C2.47,15.63 0.4,11.87 0,6.81L0,5.45C0.09,4.53 0.54,3.9 1.06,3.37C1.71,2.7 2.69,1.85 3.58,1.81C4.24,1.79 5.36,2.27 5.82,2.88C6.2,3.41 6.41,4.47 6.59,5.26C6.78,6.06 7.19,7.21 7.08,7.98C6.9,9.17 5.31,9.68 4.84,10.55C6.4,14.27 8.93,17 12.32,18.89C13.16,18.43 13.91,17.03 15.08,17C15.51,16.99 16.05,17.21 16.49,17.34C16.97,17.48 17.38,17.67 17.8,17.83C18.5,18.09 19.76,18.45 20.18,19.04C20.61,19.65 20.86,20.65 20.76,21.27C20.57,22.5 18.53,23.87 17.32,24.33'/%3E%3Cpath d='M12.52,1.52C18.47,1.52 23.29,6.34 23.29,12.29L24.82,12.29C24.82,5.5 19.32,0 12.52,0Z'/%3E%3Cpath d='M12.52,9.32L12.52,10.87C13.31,10.87 13.94,11.51 13.94,12.29L15.5,12.29C15.5,10.65 14.17,9.32 12.52,9.32'/%3E%3Cpath d='M12.52,6.24C15.87,6.24 18.58,8.95 18.58,12.3L20.17,12.3C20.17,8.08 16.75,4.65 12.52,4.65Z'/%3E%3C/svg%3E");
}
.form__item_tel:hover::after {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.82' height='24.33' viewBox='0 0 24.82 24.33' fill='%2362d1ba'%3E%3Cpath d='M17.32,24.33L16.2,24.33C11.3,23.75 7.7,21.47 5.09,18.56C2.47,15.63 0.4,11.87 0,6.81L0,5.45C0.09,4.53 0.54,3.9 1.06,3.37C1.71,2.7 2.69,1.85 3.58,1.81C4.24,1.79 5.36,2.27 5.82,2.88C6.2,3.41 6.41,4.47 6.59,5.26C6.78,6.06 7.19,7.21 7.08,7.98C6.9,9.17 5.31,9.68 4.84,10.55C6.4,14.27 8.93,17 12.32,18.89C13.16,18.43 13.91,17.03 15.08,17C15.51,16.99 16.05,17.21 16.49,17.34C16.97,17.48 17.38,17.67 17.8,17.83C18.5,18.09 19.76,18.45 20.18,19.04C20.61,19.65 20.86,20.65 20.76,21.27C20.57,22.5 18.53,23.87 17.32,24.33'/%3E%3Cpath d='M12.52,1.52C18.47,1.52 23.29,6.34 23.29,12.29L24.82,12.29C24.82,5.5 19.32,0 12.52,0Z'/%3E%3Cpath d='M12.52,9.32L12.52,10.87C13.31,10.87 13.94,11.51 13.94,12.29L15.5,12.29C15.5,10.65 14.17,9.32 12.52,9.32'/%3E%3Cpath d='M12.52,6.24C15.87,6.24 18.58,8.95 18.58,12.3L20.17,12.3C20.17,8.08 16.75,4.65 12.52,4.65Z'/%3E%3C/svg%3E");
}
.form__label {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
}
.form__label_checkbox::before, .form__label_radio::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -27px;
  -webkit-transform: translate(-100%, -17px);
      -ms-transform: translate(-100%, -17px);
          transform: translate(-100%, -17px);
  width: 52px;
  height: 52px;
  border: 2px solid #444444;
  cursor: pointer;
}
.form__label_checkbox::after, .form__label_radio::after {
  display: block;
  position: absolute;
  cursor: pointer;
}
.form__label_radio::before {
  border-radius: 50%;
}
.form__label_radio::after {
  top: 0;
  left: -42px;
  -webkit-transform: translate(-100%, -2px);
      -ms-transform: translate(-100%, -2px);
          transform: translate(-100%, -2px);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #62d1ba;
}
.form__label_checkbox::after {
  top: -12px;
  left: -61px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 16px;
  height: 32px;
  border: solid black;
  border-width: 0 2px 2px 0;
}
.form__label_checkbox:hover::before, .form__label_radio:hover::before {
  border-color: #62d1ba;
}
.form__input-check {
  visibility: hidden;
  width: 52px;
  height: 52px;
}
.form__input-check:checked + .form__label_radio::after, .form__input-check:checked + .form__label_checkbox::after {
  content: "";
}
.form__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 17px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
}
.form__text_textarea {
  height: 142px;
  border: 2px solid black;
  resize: none;
}
.form__text_textarea:hover, .form__text_textarea:focus {
  border-color: #62d1ba;
}
.form__text::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
.form__text::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
.form__text:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
.form__text::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
.form__text::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

@media (max-width: 1000px) {
  .request {
    padding: 68px 0 50px;
  }
  .form__wrapper {
    padding: 0 50px;
    grid-template-columns: minmax(86px, 1fr) 4fr;
  }
  .form__container_col2 {
    grid-column: 1/-1;
  }
}
@media (max-width: 640px) {
  .request {
    padding: 29px 0 50px;
  }
  .form__section {
    padding: 33px 0 0;
  }
  .form__section_gray {
    background-color: transparent;
  }
  .form__title {
    margin: 0 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 22px;
  }
  .form__title::after {
    content: "";
    display: block;
    border-bottom: 1px solid #62d1ba;
    width: 100%;
  }
  .form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 22px;
       -moz-column-gap: 22px;
            column-gap: 22px;
  }
  .form__container {
    row-gap: 22px;
  }
  .form__container_col2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form__input-check {
    width: 40px;
    height: 40px;
  }
  .form__label_checkbox::before, .form__label_radio::before {
    width: 40px;
    height: 40px;
    top: 0;
    left: -27px;
    -webkit-transform: translate(-100%, -11px);
        -ms-transform: translate(-100%, -11px);
            transform: translate(-100%, -11px);
  }
  .form__label_radio::after {
    -webkit-transform: translate(-75%, -2px);
        -ms-transform: translate(-75%, -2px);
            transform: translate(-75%, -2px);
  }
  .form__label_checkbox::after {
    width: 12px;
    height: 25px;
    top: -6px;
    left: -54px;
  }
  .form__text_textarea {
    margin-bottom: 18px;
  }
}
.p-footer {
  padding: 51px 0 59px;
  background-color: #F9F9F9;
}
.p-footer__wrapper {
  max-width: 1150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-footer__line {
  display: none;
}

@media (max-width: 1250px) {
  .p-footer__wrapper {
    margin: 0 50px;
  }
}
@media (max-width: 700px) {
  .p-footer {
    padding: 30px 0;
  }
  .p-footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 26px;
    margin: 0;
  }
  .p-footer__line {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    width: 260px;
    height: 1px;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
}
.social__link {
  font-size: 0;
}
.social__link:hover {
  opacity: 0.6;
}
.social__link:focus {
  opacity: 0.3;
}
.social__svg {
  width: 29px;
  height: 29px;
}
.tribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tribute__text {
  font-size: 19px;
  font-weight: 700;
  margin-right: 35px;
}
.tribute:focus .tribute__text {
  opacity: 0.3;
}
.tribute__logo {
  width: 27px;
  height: 34px;
  fill: #63d1bb;
}
.tribute:hover .tribute__logo {
  fill: #46c1ae;
}
.tribute:focus .tribute__logo {
  fill: rgba(70, 193, 174, 0.3);
}/*# sourceMappingURL=style.css.map */