@use 'srv'

.p-header
    font-size: 17px
    font-weight: 700
    &__wrapper
        height: 88px
        max-width: 1150px
        border-bottom: solid 1px rgba(0, 0, 0, 0.1)
        margin: 0 auto
        @include srv.flexbox(center)
        position: relative
        z-index: 1
    &__shipment
        position: absolute
        bottom: -45px
        right: 50px
        font-size: 15px
        font-weight: 400
    &__nav
        position: absolute
        left: 0
        top: 0
        width: 100%

.nav
    &__wrapper
        position: relative
        padding: 0 15px
    &__sub 
        position: absolute
        top: 112px
        left: 15px

.menu
    @include srv.flexbox(center)
    &__item
        &:not(:first-of-type)
            border-left: 1px solid rgba(0, 0, 0, 0.1)
    &__link
        display: block
        padding: 32px 35px
        white-space: nowrap
        &_cart
            display: flex
            gap: 30px
    &__label
        line-height: 0
    &__input
        display: none

    &__placeholder
        width: 100%

    &__icon
        width: 21px
        height: 21px
    &__use

    &_hasBurger
    

.sub-menu
    font-size: 15px
    &__item
        padding: 25px 30px
        &_tablet
            display: none
        &_desc

.burger
    display: none
    position: relative
    &__button
        display: block
        width: 20px
        height: 14px
        position: absolute
        top: 32px
        right: 17px
        @include srv.flexbox(center)
        flex-direction: column
        gap: 2px
        &::before, &::after
            content: ""
    &__line, &__button::before, &__button::after
        display: block
        width: 100%
        height: 4px
        background-color: black
    &__toggler
        position: absolute
        top: 32px
        right: 17px
        visibility: hidden

@media (max-width: 1150px) and (min-width: 1050px)
    .menu
        &__link
            padding: 32px calc(21px + (35 - 21) * ((100vw - 768px) / (1150 - 768)))


@media screen and ( max-width: 1050px )
    .sub-menu
        &__item
            padding: 25px 18px
            &_tablet
                display: inline
            &_desc
                display: none
    .menu
        &__item
            &:nth-of-type(1), &:nth-of-type(2)
                display: none
    .p-header
        &__wrapper
            justify-content: flex-start
            padding: 0 50px
        &__shipment
            right: 50px
    .nav
        &__sub
            left: 32px

@media screen and ( max-width: 760px )
    .p-header
        &__wrapper
            justify-content: center
            height: 79px
            padding: 0 31px
    .menu, .sub-menu, .p-header__shipment
        display: none
    .burger
        display: block