@use 'srv'

.request
    padding: 112px 0 50px

.form
    &__wrapper
        max-width: 925px
        margin: 0 auto
        display: grid
        grid-template-columns: 1fr 8.2fr 1fr
        column-gap: 27px
    &__description
        margin-bottom: 12px
    &__section
        padding: 50px 0
        &_gray
            background-color: #f1f1f1
            &:nth-last-of-type(-n+3):nth-last-of-type(odd)
                padding-bottom: 12px
            &:nth-last-of-type(-n+3):nth-last-of-type(even)
                padding-top: 12px
    &__title
        @include srv.fontsize(17,16,700)
        text-transform: uppercase
        color: #63d1bb
        margin: 19px 0 0
    &__container
        max-width: 700px
        @include srv.flexbox(center, flex-start)
        flex-direction: column
        row-gap: 24px
        &_wide
    &__item
        width: 100%
        @include srv.flexbox(flex-start)
        column-gap: 27px
    &__label
        @include srv.fontsize(19,18,700)
        position: relative
        &_checkbox::before, &_radio::before
            content: ""
            display: block
            position: absolute
            top: 0
            left: -27px
            transform: translate(-100%, -17px)
            width: 52px
            height: 52px
            border: 2px solid #444444
            cursor: pointer
            // &:hover
            //     background-color: red
            //     border: 2px solid #62d1ba
            //     border-color: #62d1ba
        &_checkbox
        &_radio
            &::before
                border-radius: 50%               
    &__input-check
        visibility: hidden
        width: 52px
        height: 52px
        &:checked + .form__label_radio::after, &:checked + .form__label_checkbox::after
            content: ""
            display: block
            position: absolute
            cursor: pointer
        &:checked + .form__label_radio::after
            top: 0
            left: -42px
            transform: translate(-100%, -2px)
            width: 22px
            height: 22px
            border-radius: 50%
            background-color: #62d1ba 
        &:checked + .form__label_checkbox::after
            top: -12px
            left: -61px
            transform: rotate(45deg)
            width: 16px
            height: 32px
            border: solid black 
            border-width: 0 2px 2px 0
    &__text
        flex: 1 1 100%
        padding: 17px
        @include srv.fontsize(19,18)
        &_tel

        &_email

        &_textarea
            height: 142px
            border: 2px solid black
            resize: none
        &::placeholder
            color: rgba(68, 68, 68, 0.3)
        &:hover, &:focus
            border-color: #62d1ba
    &__footer, &__header
        max-width: 700px
        margin: 0 auto
        @include srv.flexbox(space-between)
