@use 'srv'

.weekly
    background-color: white
    &__wrapper
        position: relative
        max-width: 1150px
        margin: 0 auto
        padding: 54px 0 96px
    &__header
        @include srv.flexbox(flex-start)
        position: absolute
        top: 117px
        left: 100px
    &__marker
        margin: 0 58px 0 0
        text-align: center
        width: 70px
        font-size: 17px
        line-height: 17px
        font-weight: 700
        text-transform: uppercase
        color: #63d1bb
        order: -1
    &__container

    &__divider
        position: absolute
        bottom: 0
        left: 0

.product
    @include srv.flexbox(space-between, flex-start)
    color: #444444
    font-weight: 400
    gap: 24px
    &__pic
        flex: 0 1 525px
        font-size: 0
        &_add
            display: none
        &_main
    &__block
        margin: 163px 0 0 20%
        flex: 0 0 282px
    &__desc
    &__tech
        margin: 49px 0 90px
        & td
            padding: 10px 30px 10px 0
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
            font-size: 15px
    &__price
        margin-bottom: 29px
        text-align: center

@media screen and ( max-width: 1150px )
    .product
        &__block
            margin: 163px 0 0 calc(100px + (230 - 100) * ((100vw - 1000px) / (1250 - 1000)))

@media screen and ( max-width: 1000px )
    .weekly
        &__header
            left: calc(100px + (230 - 100) * ((100vw - 1000px) / (1250 - 1000)))
    
@media screen and ( max-width: 895px )
    .weekly
        &__container
            padding: 55px 0 0
        &__header
            position: static
            margin: 0 auto
            justify-content: space-between
            padding: 0 max(50px, calc(50px + (100 - 50) * ((100vw - 768px) / (895 - 768))))
        &__marker
            order: 0
            margin: 0
    .product
        padding-right: max(50px, calc(50px + (100 - 50) * ((100vw - 768px) / (895 - 768))))
        &__block
            margin: 0 0 0 max(50px, calc(50px + (100 - 50) * ((100vw - 768px) / (895 - 768))))
        &__pic
            flex: 0 0 333px
        &__tech
            margin: 29px 0 42px

@media screen and ( max-width: 740px )
    .weekly
        &__header
            flex-direction: column
            align-items: flex-start
        &__marker
            width: 100%
            text-align: left
        &__container
            padding: 0 30px
        &__header
            padding: 0 30px
        
    .product
        flex-direction: column
        &__pic
            max-width: 333px
            &_main
                display: none
            &_add
                display: block
        &__price
            margin-top: 29px
        &__block
            margin: 0
            @include srv.flexbox(center)
            flex-direction: column
        &__desc
            margin-top: 30px