@mixin flexbox($just, $aln: center)
    display: flex
    justify-content: $just
    align-items: $aln

// @function interpol($from, $to, $fromWidth, $toWidth) {
//   $slope: ($to - $from) / ($toWidth - $fromWidth);
//   $base: $from - $slope * $fromWidth;

//   @return calc(#{$base} + #{100vw * $slope});
// }

@mixin fontsize($fs, $lh: $fs, $fw: 400)
        font-size: #{$fs}px
        line-height: #{$lh}px
        font-weight: $fw