@mixin flexbox($just, $aln: center)
    display: flex
    justify-content: $just
    align-items: $aln

@mixin fontsize($fs, $lh: $fs, $fw: 400)
        font-size: #{$fs}px
        line-height: #{$lh}px
        font-weight: $fw

@function interpol($from, $to, $fromWidth, $toWidth)
    @return calc( ( $to * 1px ) + ( $from - $to ) * ( ( 100vw - ( $toWidth * 1px ) ) / ( $fromWidth - $toWidth ) ) )